<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="#" class="brand-wrap">
      <img
        src="/backend/images/guitman-logo-3.png"
        class="logo"
        alt="Guitman Dashboard"
      />
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <!-- Primary Navigation -->
    <ul class="menu-aside">
      <li class="menu-item active">
        <a class="menu-link" href="/admin/dashboard">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>

      <!-- Orders -->
      <li class="menu-item has-submenu">
        <a class="menu-link" href="/admin/dashboard/orders/list">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text">Orders</span>
        </a>
        <div class="submenu">
          <a href="/admin/dashboard/orders/list">Order List</a>
        </div>
      </li>

      <!-- Product Management Group -->
      <li class="menu-item has-submenu">
        <a class="menu-link" href="#">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Product & Category</span>
        </a>
        <div class="submenu">
          <a href="/admin/dashboard/product/list-product">Manage Product</a>
          <a href="/admin/dashboard/product/categories">Manage Categories</a>

        </div>
      </li>


      <!-- Offer and Coupon -->
      <li class="menu-item has-submenu">
        <a class="menu-link" href="page-transactions-1.html">
          <i class="icon material-icons md-monetization_on"></i>
          <span class="text">Coupon & Offer</span>
        </a>
        <div class="submenu">
          <a href="/admin/dashboard/product/offers">Manage Offers</a>
          <a href="/admin/dashboard/product/coupons">Manage Coupons</a>
        </div>
      </li>

      <!-- Users -->
      <li class="menu-item has-submenu">
        <a class="menu-link" href="/admin/dashboard/user-list">
          <!-- <i class="icon material-icons md-store"></i> -->
          <i class="icon material-icons md-person"></i>
          <span class="text">Users</span>
        </a>
        <div class="submenu">
          <a href="/admin/dashboard/user-list">User List</a>
        </div>
      </li>

      <!-- Feedbacks  -->
      <li class="menu-item">
        <a class="menu-link" href="page-reviews.html">
          <i class="icon material-icons md-comment"></i>
          <span class="text">Feedbacks & Reviews</span>
        </a>
      </li>

      <!-- Customer Support -->
      <li class="menu-item">
        <a class="menu-link" href="page-brands.html">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Customer Support</span>
        </a>
      </li>

      <!-- Statistics -->
      <li class="menu-item">
        <a class="menu-link" href="#" aria-disabled="true">
          <i class="icon material-icons md-pie_chart"></i>
          <span class="text">Statistics</span>
        </a>
      </li>
    </ul>
    <hr />

    <ul class="menu-aside">
      <!-- Settings -->
      <li class="menu-item has-submenu">
        <a class="menu-link" href="#">
          <i class="icon material-icons md-settings"></i>
          <span class="text">Settings</span>
        </a>
        <div class="submenu">
          <a href="page-settings-1.html">Setting Sample 1</a>
          <a href="page-settings-2.html">Setting Sample 2</a>
        </div>
      </li>
</aside>
